<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Register | MyApp</title>
  <link rel="stylesheet" href="../../../../public/css/register.css">
</head>
<body>
  <div class="register-container">
    <h2>Create Account</h2>
    <p>Join us by filling the information below</p>
    <form method = "POST" action="../Controllers/UserController.php?action=register">
      <input type="text" name="name" placeholder="Full Name" required>
      <input type="email" name="email" placeholder="Email Address" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="password" placeholder="Confirm Password" required>
      <div class="role-select">
        <input type="radio" id="student" name="role" value="student" checked>
        <label for="student">Student</label>
        <input type="radio" id="team-leader" name="role" value="team-leader" checked>
        <label for="team-leader">team-leader</label>
      </div>
      <div class="role-select">
        <input type="radio" id="lang" name="language" value="ar" checked>
        <label for="lang">Arabic</label>
        <input type="radio" id="lang" name="language" value="en" checked>
        <label for="lang">English</label>
      </div>
      <button type="submit">Register</button>
      <div class="login-link">
        Already have an account? <a href="login.html">Login here</a>
      </div>
    </form>
  </div>
</body>
</html>
